h1{
    background-color: blueviolet;
    color: green;
}
p{
    color: black;
}

.a{
    background-color: burlywood;
}

body{
      background-color: white;
}

.b{
    background-color: white;
    position: absolute;
    left: 200px;
    top: 200px;
    height: 200px;
    width: 200px;
    border: white 10px solid ;
}

.c{
    background-image: url(ball.gif);
    top: 200px;
    left: 400px;
    height: 200px;
    width: 200px;
    position: absolute;
    border: white 10px solid;

}


.d{
 color: green;
}